.title{
    margin: 0;
    margin-top: 65px;
    color: var(--text-color);
    font-family: 'Ubuntu', sans-serif !important;
    font-weight: 500;
    font-size: 1.6rem;
    padding: 10px 20px 0px;
    display: flex;
    span{
        display: flex;
        padding-left: 15px;
        align-items: center;
        color: #333;
        cursor: pointer;
        border-radius: 50%;
        font-size: 1.5em;
        ion-icon{
            border-radius: 50%;
            transition: 0.5s;
            &:hover{
                color: #f00;
            }
        }
    }
}
.create{
    position: fixed;
    right: 20px;
    bottom: 40px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    background: #00bcd4;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover ion-icon{
        filter: drop-shadow(0 0 2px #fff) drop-shadow(0 0 5px #fff) drop-shadow(0 0 15px var(--white));
    }
    ion-icon{
        font-size: 2em;
        transition: filter linear 0.5s;
    }
}
@media (max-width: 768px){
    .cardBox{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 480px){
    .cardBox{
        grid-template-columns: repeat(1, 1fr);
    }
}